# For options and defaults see https://github.com/pylint-dev/pylint/blob/main/pylintrc
[MASTER]

# whitelisting pydantic see https://github.com/pydantic/pydantic/issues/1961
extension-pkg-whitelist=pydantic

# Load plugins to avoid passing --load-plugins=pylint_pydantic
load-plugins=pylint_pydantic


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120 # Setting this to 120, can be changed as needed alter

[MESSAGES CONTROL]
disable=missing-module-docstring,


[DESIGN]

# Disable the Too few public methods warning completely
disable=R0903
