#sentry-feedback {
    --font-family: Inter, sans-serif;
    --accent-background: #00FF91;
    --accent-foreground: #000000;
    --input-placeholder-color: rgba(0, 33, 71, 0.5);
    --button-primary-border: none;
    --button-border-radius: 32px;
    --button-primary-border-radius: 32px;
    --form-width: 300px;
}

@media (max-width: 600px) {
    #sentry-feedback {
        --form-width: 100%;
    }
} 