###################
#iac/auth
###################
GCP_OAUTH_CLIENT_ID=<GCP_OAUTH_CLIENT_ID>
GCP_OAUTH_CLIENT_SECRET=<GCP_OAUTH_CLIENT_SECRET>

###################
# Backend
###################
# Taxonomy database settings
TAXONOMY_MONGODB_URI=<MONGODB_URI>
TAXONOMY_DATABASE_NAME=<DATABASE_NAME>
TAXONOMY_MODEL_ID=<MODEL_ID>

# Application database settings
APPLICATION_MONGODB_URI=<MONGODB_URI>
APPLICATION_DATABASE_NAME=<DATABASE_NAME>

# Metrics settings
METRICS_MONGODB_URI=<MONGODB_URI>
METRICS_DATABASE_NAME=<DATABASE_NAME>
BACKEND_ENABLE_METRICS=<True/False>

# Users database settings
USERDATA_MONGODB_URI=<URI_TO_MONGODB>
USERDATA_DATABASE_NAME=<DATABASE_NAME>

# Google Cloud Platform settings
VERTEX_API_REGION=<REGION>
EMBEDDINGS_SERVICE_NAME=/^GOOGLE-VERTEX-AI$/
EMBEDDINGS_MODEL_NAME=<EMBEDDINGS_MODEL_NAME>

# Sentry settings
BACKEND_SENTRY_DSN=<BACKEND_SENTRY_DSN>
BACKEND_ENABLE_SENTRY=<True/False>

# Country settings
DEFAULT_COUNTRY_OF_USER=<See backend/app/counties.py for valid values>

# JSON like configurations of the available features.
BACKEND_FEATURES=/.*/

# JSON like configuration for the experience pipeline
BACKEND_EXPERIENCE_PIPELINE_CONFIG=/.*/

###################
# Frontend
###################

# Metrics settings
FRONTEND_ENABLE_METRICS=<True/False>

# Sentry settings
FRONTEND_ENABLE_SENTRY=<True/False>
FRONTEND_SENTRY_DSN=<FRONTEND_SENTRY_DSN>
FRONTEND_SENTRY_CONFIG=<JSON_STRING>

# PII settings
SENSITIVE_PERSONAL_DATA_RSA_ENCRYPTION_KEY=<PUBLIC_KEY_PEM_FORMAT>
SENSITIVE_PERSONAL_DATA_RSA_ENCRYPTION_KEY_ID=<KEY_ID>

# Invitation codes
FRONTEND_LOGIN_CODE=/.*/
FRONTEND_REGISTRATION_CODE=/.*/
FRONTEND_DISABLE_LOGIN_CODE=/.*/
FRONTEND_DISABLE_REGISTRATION=/.*/

# Other enabled Features

# CV Upload feature flag (optional, defaults to false if not set)
FRONTEND_ENABLE_CV_UPLOAD=/.*/

# JSON like configurations of the available features.
FRONTEND_FEATURES=/.*/
