###################
#iac/auth
###################
GCP_OAUTH_CLIENT_ID=<GCP_OAUTH_CLIENT_ID>
GCP_OAUTH_CLIENT_SECRET=<GCP_OAUTH_CLIENT_SECRET>

###################
# Backend
###################
# Taxonomy database settings
TAXONOMY_MONGODB_URI=<MONGODB_URI>
TAXONOMY_DATABASE_NAME=<DATABASE_NAME>
TAXONOMY_MODEL_ID=<MODEL_ID>

# Application database settings
APPLICATION_MONGODB_URI=<MONGODB_URI>
APPLICATION_DATABASE_NAME=<DATABASE_NAME>

# Metrics database settings
METRICS_MONGODB_URI=<MONGODB_URI>
METRICS_DATABASE_NAME=<DATABASE_NAME>

# Users database settings
USERDATA_MONGODB_URI=<URI_TO_MONGODB>
USERDATA_DATABASE_NAME=<DATABASE_NAME>

# Google Cloud Platform settings
VERTEX_API_REGION=<REGION>

# Sentry settings
SENTRY_BACKEND_DSN=<SENTRY_BACKEND_DSN>
ENABLE_SENTRY=<True/False>

# Metrics settings
ENABLE_METRICS=<True/False>

###################
# Frontend
###################
SENTRY_FRONTEND_DSN=<SENTRY_FRONTEND_DSN>
SENSITIVE_PERSONAL_DATA_RSA_ENCRYPTION_KEY=<PUBLIC_KEY_PEM_FORMAT>
SENSITIVE_PERSONAL_DATA_RSA_ENCRYPTION_KEY_ID=<KEY_ID>
