GITHUB_SHA=<commit-hash>
GITHUB_REF_NAME=main
GITHUB_RUN_NUMBER=1
GCP_OAUTH_CLIENT_ID=<value>
GCP_OAUTH_CLIENT_SECRET=<value>
DOMAIN_NAME=<value>
FRONTEND_DOMAIN=<value>
FRONTEND_URL=<value>
BACKEND_DOMAIN=<value>
BACKEND_URL=<value>
TAXONOMY_MONGODB_URI=<value>
TAXONOMY_DATABASE_NAME=<value>
TAXONOMY_MODEL_ID=<value>
APPLICATION_MONGODB_URI=<value>
APPLICATION_DATABASE_NAME=<value>
VERTEX_API_REGION=<value>
SENTRY_BACKEND_DSN=<value>
ENABLE_SENTRY=<value>
GCP_ROOT_PROJECT_NAME=<value>
GCP_ORGANISATION_ID=<value>
CUSTOMER_ID=<value>
GOOGLE_CREDENTIALS=<value>
