name: Tabiya Compass Build And Deploy
on:
  workflow_call:
    inputs:
      target-environment:
        required: true
        type: string
      taxonomy-database-name:
        required: true
        type: string
      taxonomy-model-id:
        required: true
        type: string
      application-database-name:
        required: true
        type: string
      backend-url:
        required: true
        type: string
      frontend-url:
        required: true
        type: string
      vertex-api-region:
        required: true
        type: string
    outputs:
      api-gateway-url:
        description: "The backend rest api url via the api gateway"
        value: ${{ jobs.deploy.outputs.api-gateway-url }}
      version-info:
        description: "The backend version info"
        value: ${{ jobs.deploy.outputs.version-info }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target-environment }}
    outputs:
      api-gateway-url: ${{ steps.pulumi.outputs.apigateway_url }}
      version-info: ${{ steps.setVersionInfo.outputs.version-info }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set Version Info
        id: setVersionInfo
        # see https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#multiline-strings
        # for multiline strings
        run: |
          ./pipeline/setVersionInfo.sh ./backend/app/version/version.json
          cat ./backend/app/version/version.json
          EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
          echo "version-info<<$EOF" >> "$GITHUB_OUTPUT"
          echo "$(cat ./backend/app/version/version.json)" >> "$GITHUB_OUTPUT"
          echo "$EOF" >> "$GITHUB_OUTPUT"
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip' # caching pip dependencies
      - name: Install IaC python packages
        run: pip install -r requirements.txt
        working-directory: iac
      - name: Load cached Poetry installation
        id: cached-poetry
        uses: actions/cache@v4
        with:
          path: ~/.local
          key: poetry-0
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Load cached Poetry cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pypoetry
          key: poetry-cache-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ env.POETRY_VERSION }}
      - name: Install dependencies
        shell: bash
        run: |
          poetry lock --no-update --no-interaction
          poetry install --no-interaction
        working-directory: backend
      - name: Setup google-cloud-auth
        uses: google-github-actions/auth@v2.1.2
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_JSON }}
      - name: Export OpenAPI2 docs (required in Pulumi)
        shell: bash
        working-directory: ./backend/scripts
        run: |
          poetry run export_openapi
          poetry run convert_openapi
          cp openapi2.yaml ../../iac/backend/config/gcp_api_gateway_config.yaml
        env:
          TAXONOMY_MONGODB_URI: ${{ secrets.TAXONOMY_MONGODB_URI }}
          TAXONOMY_DATABASE_NAME: ${{ inputs.taxonomy-database-name }}
          TAXONOMY_MODEL_ID: ${{ inputs.taxonomy-model-id }}
          APPLICATION_MONGODB_URI: ${{ secrets.APPLICATION_MONGODB_URI }}
          APPLICATION_DATABASE_NAME: ${{ inputs.application-database-name }}
          TARGET_ENVIRONMENT: ${{ inputs.target-environment }}
          VERTEX_API_REGION: ${{ inputs.vertex-api-region }}
          BACKEND_URL: ${{ inputs.backend-url }}
          FRONTEND_URL: ${{ inputs.frontend-url }}
      - name: Authenticate to docker
        # TODO the region should be extracted from the pulumi yaml
        run: gcloud auth configure-docker us-central1-docker.pkg.dev
      - name: Deploy backend
        id: pulumi
        uses: pulumi/actions@v5
        with:
          work-dir: iac/backend
          command: up
          stack-name: tabiya-tech/compass-backend/${{ inputs.target-environment }}
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          GCP_OAUTH_CLIENT_ID: ${{ secrets.GCP_OAUTH_CLIENT_ID }}
          TAXONOMY_MONGODB_URI: ${{ secrets.TAXONOMY_MONGODB_URI }}
          TAXONOMY_DATABASE_NAME: ${{ inputs.taxonomy-database-name }}
          TAXONOMY_MODEL_ID: ${{ inputs.taxonomy-model-id }}
          APPLICATION_MONGODB_URI: ${{ secrets.APPLICATION_MONGODB_URI }}
          APPLICATION_DATABASE_NAME: ${{ inputs.application-database-name }}
          TARGET_ENVIRONMENT: ${{ inputs.target-environment }}
          VERTEX_API_REGION: ${{ inputs.vertex-api-region }}
          BACKEND_URL: ${{ inputs.backend-url }}
          FRONTEND_URL: ${{ inputs.frontend-url }}
