name: Tabiya Compass Deploy Common
on:
  workflow_call:
    inputs:
      target-environment:
        required: true
        type: string
      domain-name:
        required: true
        type: string
      frontend-domain:
        required: true
        type: string
      frontend-url:
        required: true
        type: string
    outputs:
      dns-ns-records:
        description: "The dns ns records for the domain to be added to the parent domain server"
        value: ${{ jobs.deploy.outputs.dns-ns-records }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target-environment }}
    outputs:
      dns-ns-records: ${{ steps.pulumi.outputs.ns-records }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip' # caching pip dependencies
      - name: Install python packages
        run: pip install -r requirements.txt
        working-directory: iac
      - name: Setup google-cloud-auth
        uses: google-github-actions/auth@v2.1.2
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_JSON }}
      - name: Deploy Common
        id: pulumi
        uses: pulumi/actions@v5
        with:
          work-dir: iac/common
          command: up
          stack-name: tabiya-tech/compass-common/${{ inputs.target-environment }}
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          DOMAIN_NAME: ${{ inputs.domain-name }}
          FRONTEND_DOMAIN: ${{ inputs.frontend-domain }}
          FRONTEND_URL: ${{ inputs.frontend-url }}