name: Main CI
on:
  push:
    branches:
      - '**'  # Runs on push to any branch
  release:
    types: [ created ]  # Runs when a new release is created

# only one job should run at a time when deploying
concurrency:
  group: ${{github.workflow}}-${{ github.ref_name != 'main' && !contains(github.event.head_commit.message, '[pulumi up]') && github.ref_name || 'deploying' }}
  cancel-in-progress: false

jobs:
  frontend-ci:
    uses: ./.github/workflows/frontend-ci.yml
    secrets: inherit
    with:
      upload-artifacts: ${{ (github.event_name == 'push' && (github.ref == 'refs/heads/main' || contains(github.event.head_commit.message, '[pulumi up]'))) }}

  backend-ci:
    uses: ./.github/workflows/backend-ci.yml
    secrets: inherit
    with:
      upload-artifacts: ${{ (github.event_name == 'push' && (github.ref == 'refs/heads/main' || contains(github.event.head_commit.message, '[pulumi up]'))) }}

  config-ci:
    uses: ./.github/workflows/config-ci.yml
    secrets: inherit
    if: ${{ (github.event_name == 'push' && (github.ref == 'refs/heads/main' || contains(github.event.head_commit.message, '[pulumi up]'))) }}

  deploy:
    needs: [ frontend-ci, backend-ci, config-ci ]
    if: ${{ (github.event_name == 'push' && (github.ref == 'refs/heads/main' || contains(github.event.head_commit.message, '[pulumi up]'))) }}
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
    with:
      env-name: dev-swahilipot
      env-type: dev
      target-git-sha: ${{ github.sha }}
      target-git-branch: ${{ github.ref_name }}
