name: Smoke Test the version of the frontend
on:
  workflow_call:
    inputs:
      component:
        description: frontend-new
        required: true
        type: string
      component-url:
        description: The urlbase of the 'frontend'
        required: true
        type: string
      expected-version-info:
        description: The expected version info
        required: true
        type: string
jobs:
  smoke-test:
    name: Smoke tests - frontend
    runs-on: ubuntu-latest
    steps:
      - id: checkout-code
        uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'yarn'
          cache-dependency-path: frontend-new/yarn.lock
      - id: install-dependencies
        shell: bash
        run: yarn install
        working-directory: frontend-new
      - name: Run smoke tests
        id: smoke-test
        shell: bash
        run: |
          export EXPECTED_VERSION_INFO='${{ inputs.expected-version-info }}'
          export E2E_BASE_URL='${{ inputs.component-url }}/new-ui'
          yarn run test:smoke
        working-directory: frontend-new